{% load static %}

<head>
    <style>
        nav {
            height: 60px;
            background-color: #056805;
            align-items: center;
            display: flex;
        }

        nav span a{
            color: white;
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            margin-right: 20px;
            margin-left: 12px;
        }


    </style>

</head>

<nav>
    <span><a href="{% url 'home' %}">Buscar</a></span>
    <span><a href="{% url 'logout' %}">Logout</a></span>
</nav>


